<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58227469689-1cs9u9ascgkf9f01otk9ftr3d1bjv0o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58227469689-1cs9u9ascgkf9f01otk9ftr3d1bjv0o3</string>
	<key>API_KEY</key>
	<string>AIzaSyDau3EY8n7sZfRn4mQiCrhH13Kj7ND6yAY</string>
	<key>GCM_SENDER_ID</key>
	<string>58227469689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ZZ.ChatAppIOS</string>
	<key>PROJECT_ID</key>
	<string>chatappios-a3924</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappios-a3924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58227469689:ios:d149e88bdefba690bb93a8</string>
</dict>
</plist>